.rental-date-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rental-date-input {
    width: 200px;
    margin-bottom: 4px;
}

.rental-date-separator {
    margin: 4px 0;
}

.equipment-button {
    background: none;
    border: none;
    padding: 8px;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.equipment-tag {
    display: inline-block;
    padding: 4px 8px;
    margin: 2px;
    border-radius: 4px;
    background-color: #8ca2b8;
    border: 1px solid #e9ecef;
    color: #000000;
    font-size: 0.9em;
}

.equipment-tag:hover {
    background-color: #e8e8e8;  /* Чуть темнее при наведении */
}

/* Если у вас несколько тегов в строке */
.equipment-tag + .equipment-tag {
    margin-left: 4px;
}

.action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px 8px;
    font-size: 1.2em;
    color: #dc3545;
}

.delete-button:hover {
    color: #c82333;
}

.conflict-cell {
    font-weight: 500;
}

.conflict-error {
    color: #dc3545;
}

.conflict-warning {
    color: #000000;
}

.conflicts-cell {
    padding: 8px;
}

.conflicts-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.conflict-item {
    padding: 4px;
    border-radius: 4px;
    font-size: 0.9em;
}

.conflict-error {
    color: #dc3545;
    background-color: rgba(220, 53, 69, 0.1);
}

.conflict-warning {
    color: #ffc107;
    background-color: rgba(255, 193, 7, 0.1);
}

.conflict-info {
    color: #17a2b8;
    background-color: rgba(23, 162, 184, 0.1);
}

.no-conflicts {
    color: #28a745;
}